body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: aliceblue;
}

.menu a{
    font-size: 15px;
    text-decoration: none;
    margin-left: 15px;
    color: #296cd8;
}

header img{
    height: 40px;
    width: 40px;
    float: right;
    padding-right: 15px;
}

h1{
    font-size: 40px;
    text-decoration: none;
    margin-left: 15px;
    text-align: center;
    color: #064de6; 
    margin-bottom: 35px;
}

li{
    list-style: none;
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
}


.exemplo li{
    background-color: violet;
    height: 200px;
    width: 200px;
    margin-left: 20px;
    display: inline-block;
    margin: 70px;   
    border-radius: 5%; 
}

.exemplo li:nth-child(2){
    background-color: #b906e6;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    }

.exemplo  li:nth-child(3){
    background-color: violet;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    }

.exemplo li:nth-child(4){
    background-color: #b906e6;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    }

  .exemplo  li:nth-child(5){
        background-color: #violet;
        height: 200px;
        width: 200px;
        border-radius: 5%;
        }
        .exemplo li:nth-child(6){
            background-color: greenyellow;
            height: 200px;
            width: 200px;
            margin-left: 20px;
            display: inline-block;
            margin: 70px;   
            border-radius: 5%; 
            
        }

.exemplo li:last-child{
    background-color: violet;
    height: 200px;
    width: 200px;
}

.container ul{
    display: flex;
    padding: 0;
    flex-direction: column;
}
 
.lembrete li{
    background-color: blue;
    width: 90px;
    height: 150px;
}
.lembrete{
    flex-direction: row;
    position: fixed;
   top: 80px;
   left: 10px;
}
#festa{
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 280px;
    left: 520px;
}
#pu{
    position: fixed;
   top: 190px;
   left: 38px;
   width: 50px;
   height: 50px;
}
#so{
    position: fixed;
   top: 350px;
   left: 38px;
   width: 50px;
   height: 50px;
}
#macarrao{
    position: fixed;
   top: 530px;
   left: 38px;
   width: 50px;
   height: 50px;
}
